<section class="container mt-5 py-5">
  <div id="search_bar" class="row mb-4">
    <div class="col-md-4">
      <input class="form-control" type="text" placeholder="Search..." aria-label="Search Products" [(ngModel)]="searchQuery" (input)="applyFilters()">
    </div>

    <div class="col-md-4">
      <div class="input-group">
        <input type="number" min="0" class="form-control" placeholder="Min Price" [(ngModel)]="minPrice" (input)="applyFilters()">
        <span class="input-group-text">-</span>
        <input type="number" min="0" class="form-control" placeholder="Max Price" [(ngModel)]="maxPrice" (input)="applyFilters()">
      </div>
    </div>

    <div class="col-md-4">
      <div class="input-group">
        <select class="form-select" [(ngModel)]="sortOptions" (change)="applyFilters()">
          <option value="priceAsc">Price: Low to High</option>
          <option value="priceDesc">Price: High to Low</option>
          <option value="dateDesc">Date: New to Old</option>
          <option value="dateAsc">Date: Old to New</option>
        </select>
      </div>
    </div>
  </div>
  <div id="products_list" class="row">
    @for (product of filteredProductsList; track product.id) {
      <app-product [product]="product" class="col" 
        (buy)="openConfirmationModal($event)"
        (trade)="openTradeModal($event)"
        />
    }
    @if (!filteredProductsList.length) {
      <div class="col-12 text-center">
        <h3>No items available</h3>
        <p class="text-muted">Please check back later.</p>
      </div>
    }
  </div>
</section>
<div class="modal fade" tabindex="-1" id="confirmtionModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Purchase</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to buy this product?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirmPurchase()">Confirm</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="tradeModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Trade</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @if (!currentUserProductsList.length) {
          <p class="text-center">You don't have any items to trade</p>
        } @else {
          <form [formGroup]="tradeForm" (ngSubmit)="tradeProduct()">
            <div class="mb-3">
              <div *ngFor="let product of currentUserProductsList" class="form-check">
                <input class="form-check-input" type="radio" [value]="product.id" formControlName="tradeProductId" [id]="product.id">
                <label class="form-check-label" [for]="product.id">
                  {{ product.name }} - {{ product.price | currency:'INR' }}
                </label>
              </div>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="tradeForm.invalid">Trade</button>
          </form>
        }
      </div>
    </div>
  </div>
</div>
