<section class="container pt-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-4">
      <div class="card bg-light">
        <div class="card-body">
          <h3 class="card-title text-center mb-3">Login</h3>
          <form class="" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
                formControlName="email"
              />
              <label for="floatingInput">Email address</label>
              <div
                class="text-danger"
                *ngIf="
                  formFields['email'].invalid &&
                  (formFields['email'].dirty || formFields['email'].touched)
                "
              >
                <small *ngIf="loginForm.get('email')?.errors"
                  >Email invalid</small
                >
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
                formControlName="password"
              />
              <label for="floatingPassword">Password</label>
              <div
                class="text-danger"
                *ngIf="
                  formFields['password'].invalid &&
                  (formFields['password'].dirty ||
                    formFields['password'].touched)
                "
              >
                <small *ngIf="loginForm.get('password')?.errors"
                  >Password invalid</small
                >
              </div>
            </div>
            <button
              class="btn btn-primary w-100 py-2"
              type="submit"
              [disabled]="loginForm.invalid"
            >
              Log in
            </button>
            <div class="form-floating my-3">
              Not a member? <a routerLink="/register">Register</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
